**/venv/
/.idea/

/results/*

/server-setup/*/data/*
!/server-setup/*/data/README.md
!/server-setup/fhirbase/data/ndjson/README.md

!/server-setup/pathling/data/template

/server-setup/*/result/*
!/server-setup/*/result/README.md
